services:
  kafka_template:
    #    image: bitnami/kafka:3.5.0
    image: docker.io/bitnamilegacy/kafka:3.5.0
    container_name: kafka_template
    hostname: kafka
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      # Включаем KRaft (без ZooKeeper)
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Три листенера: внутренний (PLAINTEXT), внешний (OUTSIDE), контроллер (CONTROLLER)
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,OUTSIDE://:29092,CONTROLLER://:9093

      # Протоколы
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,OUTSIDE:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Рекламируемые адреса:
      # - Внутри Docker: kafka:9092
      # - С хоста: localhost:29092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,OUTSIDE://localhost:29092

      # Указываем, что OUTSIDE слушает на localhost:29092
      - KAFKA_CFG_LISTENER_NAME_OUTSIDE_ADVERTISED_HOST_NAME=localhost
      - KAFKA_CFG_LISTENER_NAME_OUTSIDE_ADVERTISED_PORT=29092

      # Кворум контроллера
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      # ID брокера
      - KAFKA_BROKER_ID=1

      # Разрешить plaintext (для тестов)
      - ALLOW_PLAINTEXT_LISTENER=yes

    networks:
      #      - custom
      - default
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "bash", "-lc", "</dev/tcp/localhost/9092" ]
      interval: 10s
      timeout: 5s
      retries: 12

  app_template_rag:
    container_name: app_template_rag
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    # command: ['/app_example/docker/app.sh']
    env_file:
      - .env
    depends_on:
      - kafka_template
    ports:
      - "8080:8080"
    networks:
#      - custom
      - default
    healthcheck:
#     test: ["CMD", "curl", "-f", "http://localhost:8080/health"]  # faststream
     test: ["CMD", "curl", "-f", "http://localhost:8080/live"]  # fastapi
     interval: 30s
     timeout: 5s
     retries: 3
  
  grafana:
    container_name: grafana_1
    image: grafana/grafana:12.1.0
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_ANALYTICS_CHECK_FOR_UPDATES=false
      - GF_LOG_LEVEL=debug
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
    depends_on:
      - prometheus
    networks:
      - default

  prometheus:
    container_name: prometheus_1
    image: prom/prometheus:v2.53.0
    restart: unless-stopped
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - default

  # для логов grafana-dashboard
  loki:
    container_name: ${DOCKER_NAME}_loki
    image: grafana/loki:2.8.2
    restart: unless-stopped
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./docker/loki-config.yaml:/etc/loki/local-config.yaml:ro
    networks:
      - default

  # для loki
  promtail:
    container_name: ${DOCKER_NAME}_promtail
    image: grafana/promtail:2.8.2
    restart: unless-stopped
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./docker/promtail/config.yaml:/etc/promtail/config.yaml:ro
    command: -config.file=/etc/promtail/config.yaml
    networks:
      - default
    depends_on:
      - loki

networks:
#  custom: #(имя сети) project_name_custom
  default: #(имя сети) project_name_custom
    driver: bridge

volumes:
  grafana_data:
  opensearch_data:
