aiokafka==0.12.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
certifi==2025.1.31
click==8.1.8
colorama==0.4.6
coverage==7.8.0
exceptiongroup==1.2.2
fast-depends==2.4.12
fastapi==0.115.12
faststream==0.5.39
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
isort==6.0.1
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pluggy==1.5.0
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
pytest==8.3.5
pytest-cov==6.1.1
python-dotenv==1.1.0
PyYAML==6.0.2
ruff==0.11.5
sniffio==1.3.1
starlette==0.46.2
tomli==2.2.1
types-PyYAML==6.0.12.20250402
typing-inspection==0.4.0
typing_extensions==4.13.2
uvicorn==0.34.1
cookiecutter==2.6.0
fastapi==0.116.1
pytest-asyncio==7.0.0
